@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.padlr{
    padding: 0px 60px 0px 75px;
}

.header{
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    padding-top: 14px;
    padding-bottom: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-logo__link{
    text-decoration: none;
}

.item-link__search{
    width: 24px;
    height: 24px;
}

.item-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: black;
    padding: 2px;
}

.item-link:hover{
    border-bottom: 2px #FF9900 solid;
}

.item-link:focus{
    border: 2px #FF9900 solid;
}

.item-link:active{
    color: #E1670E;
    border-bottom: 2px #E1670E solid;
}

.menu-item__link{
    list-style-type: none;
}

.header-menu__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sliderSpicok-item{
    list-style-type: none;
}

.swiper {
    max-width: 1770px;
    max-height: 640px;
    height: 640px;
    position: relative;
}

.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 10px;
}


.main-content__info{
    position: absolute;
    top: 100px;
    left: 80px;
    max-width: 837px;
    z-index: 2;
}

.content-info__title{
    color: white;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    margin-bottom: 24px;
}

.content-info__text{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
}

.content-info__button{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 23.4581px;
    line-height: 29px;
    text-align: center;
    padding: 18.571px 37.1419px;
    background: #FF9900;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.content-info__button:hover{
    background: rgba(255, 153, 0, 0.7);
}

.content-info__button:focus{
    background: rgba(255, 153, 0, 0.7);
}

.content-info__button:active{
    background: #E1670E;;
}

.main-content__about{
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-infoText__title{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 20px;
}

.about-infoText__text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}

.about-infoText{
    max-width: 1235px;
    margin-bottom: 50px;
}

.content-about__infoImg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.about-infoImg{
    position: relative;
    max-width: 868px;
    max-height: 622px;
}

.about-infoImg__fon{
    width: 100%;
}

.about-infoImg__content{
    position: absolute;
    max-width: 868px;
    width: 100%;
    display: flex;
    padding: 50px;
    color: white;
    top: 426px;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: space-between;
}

.infoImg-content__text{
    max-width: 454px;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}

.infoImg-content__btn{   
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #FF9900;
    padding: 20px 38px 20px 38px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Montserrat';
}

.infoImg-content__btn:hover{
    background: #FF9900;
}

.infoImg-content__btn:focus{
    background: #FF9900;
}

.infoImg-content__btn:active{
    background: #E1670E;
}

.about-card{
    padding: 65px 118px 63px 60px;
    border: 1px solid #CACACA;
    display: flex;
    gap: 50px;
}

.card-bottom{
    margin-bottom: 32px;
}


.card-title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
}

.card-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.work-list{
    display: flex;
    gap: 85px;
    margin-bottom: 45px;
}

.work-list__item{
    list-style-type: none;
}

.work-title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 50px;
}

.work-item__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    padding: 2px;
}

.work-item__link:hover{
    color: #FF9900;
}
.work-item__link:focus{
    border: 2px solid #FF9900;
}
.work-item__link:active{
    color: #E1670E;
}

.work-slider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 142px;
}

.slider-img{
    max-width: 870px;
    max-height: 460px;
}

.slider-info__title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.slider-info__text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 50px;
}

.slider-info__bntpodr{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF9900;
    border: 1px solid #FF9900;
    padding: 19px 38px 19px 38px;
    font-family: 'Montserrat';
    transition: 0.3s ease;
    cursor: pointer;
}

.slider-info__bntpodr:hover{
    background: #F7B045;
}

.slider-info__bntpodr:focus{
    background: #F7B045;
}

.slider-info__bntpodr:active{
    background: #E1670E;
}

.slider-info__btndoc{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    border: 1px solid #333333;
    background-color: rgba(255, 255, 255, 0);
    padding: 19px 38px 19px 38px;
    font-family: 'Montserrat';
    margin-left: 30px;
    transition: 0.3s ease;
    cursor: pointer;
}

.slider-info__btndoc:hover{
    background: #666666;
    color: #FFFFFF;
}

.slider-info__btndoc:focus{
    background: #666666;
    color: #FFFFFF;
    border: 1px solid #666666;
}

.slider-info__btndoc:active{
    background: #000000;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.content-work{
    margin-bottom: 100px;
}

.content-question__section{
    border-top: 1px solid #CACACA;
    padding-bottom: 30px;
    padding-top: 30px;
}

.section-plus {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.section-plus:hover{
    background: #FF9900;
}

.question-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-plus__rotate{
    cursor: pointer;
    transition: 0.2s ease;
}

.section-plus__rotate:active{
    transform: rotate(45deg);
}

.sec-bot{
    border-bottom: 1px solid #CACACA;
}

.content-question__title{
    margin-bottom: 32px;
}

.content-question{
    margin-bottom: 100px;
}

.footer{
    background: #222222;
    padding: 50px 75px 50px 75px;
    display: grid;
    grid-template-columns: 0.8fr 0.9fr 0.6fr;
}

.footer-menu{
    max-width: 252px;
}

.footer-logo{
    margin-bottom: 20px;
}

.footer-list__item{
    list-style-type: none;
}

.footer-item__link{
    color: #CACACA;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
}

.footer-item__link:hover{
    color: #FF9900;
}

.footer-item__link:focus{
    border: 2px solid #FF9900;
}

.footer-item__link:active{
    color: #E1670E;
}

.footer-menu__list{
    margin-bottom: 90px;
}

.footer-menu__list_social{
    display: flex;
    gap: 25px;
}

.footer-menu__list_social li{
    list-style-type: none;
}

.footer-form{
    max-width: 570px;

}

.footer-form__title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
    margin-bottom: 25px;
}

.footer-form__input{
    width: 100%;
    background: #414141;
    padding: 22px 24px 22px 24px;
    border: none;
    margin-bottom: 25px;
    color: white;
}

.footer-form__input::placeholder{
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}

.footer-form__textarea{
    padding: 14px 24px 14px 24px;
    background: #414141;
    resize: none;
    width: 100%;
    height: 150px;
    margin-bottom: 32px;
    color: white;
    border: none;
}

.footer-form__textarea::placeholder{
    color: #CACACA;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
}

.footer-form__btn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 52px 19px 52px;
    background: #FF9900;
    border: none;
    cursor: pointer;
}

.footer-form__btn:hover{
    background: #F7B045;
}

.footer-form__btn:focus{
    background: #F7B045;
}

.footer-form__btn:active{
    background: #E1670E;
}

.footer-form__label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    margin-left: 22px;
}

.footer-label__checkbox{
    margin-right: 4px;
}

.footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
    max-width: 363px;
    margin: auto;
    align-self: center;
}

